@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 100% 98%;
    --foreground: 240 28% 23%;
    --card: 0 0% 100%;
    --card-foreground: 240 28% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 28% 23%;
    --primary: 252 56% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 249 100% 94%;
    --secondary-foreground: 249 33% 38%;
    --muted: 240 50% 96%;
    --muted-foreground: 240 12% 48%;
    --accent: 218 100% 92%;
    --accent-foreground: 240 28% 23%;
    --destructive: 350 100% 66%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 35% 91%;
    --input: 240 35% 91%;
    --ring: 252 56% 57%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 27% 8%;
    --foreground: 240 49% 92%;
    --card: 240 28% 14%;
    --card-foreground: 240 49% 92%;
    --popover: 240 28% 14%;
    --popover-foreground: 240 49% 92%;
    --primary: 251 100% 78%;
    --primary-foreground: 240 27% 8%;
    --secondary: 243 33% 25%;
    --secondary-foreground: 242 100% 88%;
    --muted: 240 33% 20%;
    --muted-foreground: 240 20% 69%;
    --accent: 240 33% 28%;
    --accent-foreground: 240 49% 92%;
    --destructive: 350 100% 66%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 26% 25%;
    --input: 240 26% 25%;
    --ring: 251 100% 78%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
}